@import "~bootstrap/dist/css/bootstrap.min.css";
/* html {
  background-color: green;
} */
body {
  background-color: green;
}
/* .card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 60%;
  width: 350px;
  height: 500px;
  border-radius: 5%; 
}*/
/* #number {
  margin: auto;
  font-size: 900%;
} */
#bottomIcon {
  /*  margin-left: 95%;
  margin-right: 5%;
  margin-bottom: 5%;
  font-size: 600%; */
  transform: rotate(180deg);
}
/* #topIcon {
  margin-right: 90%;
  margin-left: 3%;
  margin-top: -20px;
  font-size: 600%;
} */
